*.zip
*.lst
.DS_Store
examples/SLIDE_SWITCH/SI4844_02_LCD16x2_SLIDE_SWITCH/SI4844_02_LCD16x2_SLIDE_SWITCH.ino_atmega328p_16000000L.lst
examples/SLIDE_SWITCH/SI4844_01_OLED_SLIDE_SWITCH/SI4844_01_OLED_SLIDE_SWITCH.ino_atmega328p_16000000L.lst
