<BR>
<P><B>PU2CLR SI4844 Arduino Library</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/uUIDg6G9XAQ" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>


<P><B>Example using LCD16x02</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/FxlCH79caBg" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>
